*{
    display: block;
    margin: 0%;
    padding: 0%;
    text-decoration: dashed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: normal;
    align-self: auto;
    -webkit-user-modify: inherit;
}
body::-webkit-scrollbar {
    width: 13px;         
  }
  
  body::-webkit-scrollbar-track {
    background: blue;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px; 
    border: 2pX solid white;  
  }
.container-fluid{
    padding: 20px;
    display: block;
    flex-wrap: wrap;
}
form{
    background: #fff;
    padding: 30px;
    margin: auto;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 0px #000;
} 
nav{
    background-color: #0040ff;
} 
footer {
    background-color: #0040ff;
    padding: 25px;
    color: whitesmoke;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: auto;
} 
button {
    float: right;
} 
.row {
    padding: 4%;
} 
.card {
    transition: all 0.8s ease-out;
    padding: 20px;
    position: relative;
    margin: 3px;
} 
.card:hover {
    transform: translateY(-19px);
    cursor: pointer;
    box-shadow: 2px 20px 25px #a8a7af;
} 
#ssss{
    background-color: #0040ff;
    padding: 25px;
    text-align: center;
    border-radius: 18px;
} 
#ssss h1{
    color: #fff;
}